<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/89ce3d7d60.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <div class="top-menu">
            <a href="{% url 'post_new' %}"><i class="fas fa-plus-circle fa-2x"></i></a>
            <a href="{% url 'post_draft' %}"><i class="fab fa-firstdraft fa-2x"></i></a>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i></a>


    {% endif %}
    <h1><a href="{% url "post_list" %}" class="">My Blog App</a></h1>
</div>
<div class="content-container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
